.app {
    display: grid;
    grid-template-areas: 
    "h"
    "c"
    "f";
    grid-template-rows: 70px 1fr 150px;
}

.app-header {
    background-color: #FFF6E5;
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFA200;
}

.app-name {
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .5s;
}

@media (max-width: 427px) {
    .app-name {
        font-size: 20px;
    }
}

.app-logo {
    width: 60px;
    animation: spin 20s linear infinite;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

.app-cart {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 5px;
}

.app-cart img {
    width: 50px;
}

.cart-info {
    padding-left: 5px;
    border-left: 2px solid #FFA200;;
}

.content {
    grid-area: c;
    background-color: #FFFCEC ;
    padding: 24px;
    color: #2E1A00;
}

.product-type {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 19px;
    font-size: 24px;
} 

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 24px;
    row-gap: 24px;
}

.product-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 1px 2px hsla(0,0%, 39.2%, .4);
}

.product-image img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.product-name {
    padding: 24px;
    font-weight: bold;
    font-size: 20px;
}

.product-description {
    min-height: 140px;
    padding: 0 24px 6px 24px;
    font-size: 14px;
    opacity: .7;
    border-bottom: 1px solid #ddd;
}

.product-order {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    opacity: .7;
    border: 1px solid #2E1A00;
    padding: 5px;
    border-radius: 10px;
}

.product-add-cart {
    font-size: 16px;
    appearance: none;
    background-color: inherit;
    border: 1px solid red;
    border-radius: 15px;
    color: red;
    cursor: pointer;
    padding: 10px;
    outline: 0;
    font-weight: bold;
    transition: .5s;
}

.product-add-cart:hover {
    background-color: red;
    color: #FFFCEC;
}

.footer {
    grid-area: f;
    background-color: #FFF6E5;
    display: flex;
    align-items: center;
    justify-content: center;
}