.app {
    display: grid;
    grid-template-areas: 
    "h"
    "c"
    "f";
    grid-template-rows: 70px 1fr 150px;
}

.app-header {
    background-color: #FFF6E5;
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFA200;
}

.app-name {
    user-select: none;
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .5s;
}

@media (max-width: 427px) {
    .app-name {
        font-size: 20px;
    }
}

.app-logo {
    width: 60px;
    animation: spin 20s linear infinite;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

.cart {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 5px;
    user-select: none;
}

.cart img {
    width: 50px;
}

.cart-info {
    padding-left: 5px;
    border-left: 2px solid #FFA200;
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
}

.order {
    background-color: white;
    border-radius: 10px;
    z-index: 11;
    position: fixed;
    width: 70vw;
    top: 5vh;
    left: 15vw; 
    padding: 10px;
    color: #2E1A00;
    font-size: 18px;
}

.order-checkout {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.order-block {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.order-products-wrapper {
    padding-top: 10px;
    max-height: 60vh;
    overflow-y: auto;
}

.order-product-img {
    max-height: 110px;
    width: 156px;
    border-radius: 10px;
}

.order-product-description {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-header, .order-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-delete-button {
    position: relative;
    width: 22px;
    height: 22px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.order-close-element::after, .order-close-element::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    border-radius: 2px;
    height: 2px;
    background: #2E1A00;;
    transform: rotate(-45deg);
}

.order-close-element::before {
    transform: rotate(45deg);
}

.order-close-element {
    opacity: .7;
}

.order-close-element:hover {
    opacity: 1;
}

.product-quantity {
    display: flex;
    width: 70px;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    color: #FFA200;
    border: 2px solid #FFA200;
    border-radius: 20px;
    padding: 7px;
    user-select: none;
    font-weight: bold;
}

.change-quantity {
    cursor: pointer;
}

.order-confrim {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.order-contacts {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.order-input {
    width: 130px;
    font-size: 18px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
    outline: 0;
    border: 2px solid #FFA200;
}

.order-accept {
    font-size: 20px;
    font-weight: bold;
    padding: 7px;
    border-radius: 20px;
    outline: 0;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #FFA200;
}

.content {
    grid-area: c;
    background-color: #FFFCEC ;
    padding: 24px;
    color: #2E1A00;
}

.product-type {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 19px;
    font-size: 24px;
} 

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 24px;
    row-gap: 24px;
}

.product-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 1px 2px hsla(0,0%, 39.2%, .4);
}

.product-image {
    width: 100%;
}

.product-image img {
    max-height: 200px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.product-name {
    padding: 24px;
    font-weight: bold;
    font-size: 20px;
}

.product-description {
    min-height: 140px;
    padding: 0 24px 6px 24px;
    font-size: 14px;
    opacity: .7;
    border-bottom: 1px solid #ddd;
}

.product-order {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    opacity: .7;
    border: 1px solid #2E1A00;
    padding: 5px;
    border-radius: 10px;
}

@media (max-width: 600px) {

    .order {
        width: 90vw;
        left: 2vw;
        font-size: 14px;
    }
    
    .order-products-wrapper {
        max-height: 40vh;
    }

    .product-quantity {
        width: 45px;
    }

    .product-price {
        font-size: 14px;
    }

    .order-input {
        font-size: 14px;
    }

}

.product-add-cart {
    font-size: 16px;
    appearance: none;
    background-color: inherit;
    border: 1px solid red;
    border-radius: 15px;
    color: red;
    cursor: pointer;
    padding: 10px;
    outline: 0;
    font-weight: bold;
    transition: .5s;
}

.product-add-cart:hover {
    background-color: red;
    color: #FFFCEC;
}

.footer {
    grid-area: f;
    background-color: #FFF6E5;
    display: flex;
    align-items: center;
    justify-content: center;
}