.app {
    display: grid;
    grid-template-areas: 
    "h"
    "c"
    "f";
    grid-template-rows: 70px 1fr 150px;
}

.app-header {
    background-color: #FFF6E5;
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFA200;
}

.app-name {
    user-select: none;
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .5s;
}

@media (max-width: 427px) {
    .app-name {
        font-size: 20px;
    }
}

.app-logo {
    width: 60px;
    animation: spin 20s linear infinite;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}