.product-type {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 19px;
  font-size: 24px;
} 

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 24px;
  row-gap: 24px;
}

.product-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 1px 2px hsla(0,0%, 39.2%, .4);
}

.product-image {
  width: 100%;
}

.product-image img {
  max-height: 200px;
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.product-name {
  padding: 24px;
  font-weight: bold;
  font-size: 20px;
}

.product-description {
  min-height: 150px;
  max-height: 150px;
  padding: 0 24px 6px 24px;
  font-size: 14px;
  opacity: .7;
  border-bottom: 1px solid #ddd;
}

.product-order {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  opacity: .7;
  border: 1px solid #2E1A00;
  padding: 5px;
  border-radius: 10px;
}

.product-add-cart, .cart-clear {
  font-size: 16px;
  appearance: none;
  background-color: inherit;
  border: 1px solid #FFA200;
  border-radius: 15px;
  color: #FFA200;
  cursor: pointer;
  padding: 10px;
  outline: 0;
  font-weight: bold;
  transition: .5s;
}